:root{
    --body-bg: grey;
    --responsive-header-bg: grey;
    --sidebar-bg: #626262;
    --sidebar-menu-color: white;
    --sidebar-menu-badge-active-color: red;

    --table-thead-color: white;
    --table-cell-color: white;
    --table-hover-cell-bg: #565656;
}

.content-header{
    background-color: #626262;
    padding: 20px;
}
#main-menu{
    background-color: grey;
    font-size: 20px;
}

.datagrid td, .datagrid th {
    border: 2px solid dimgrey;
    vertical-align: middle;
    text-shadow: 1px 1px 2px black;
    font-size: 15px;
}

a{
    color: orange;
}

.datagrid thead a, .datagrid thead span {
    border: 2px solid dimgrey;
    vertical-align: middle;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
    background-color: orange;
    margin-top: 15px;
}

.menu-header{
    background-color: orangered;
    justify-content: center;
}

.datagrid td.actions-as-dropdown {
    background-color: blue;
}